.jumbotron   
{  
    background-size: cover;
    background: no-repeat;
    height: 220px;
    text-align: center;
    padding-bottom: 30px;
}

.option-buttons
{
    padding-top: 100px;
}

.option-buttons .response-option a
{
    font-size: 30px;
    padding-left: 50px;
}

.option-buttons .cited-option a
{
    font-size: 30px;
    padding-left: 50px;
}